html {
  background: #f0ebcd;
}
body {
  font-family: Open Sans, Arial;
  color: #454545;
  font-size: 16px;
  margin: 2em auto;
  display: flex;
  flex-direction: row;
  padding: 1em;
  line-height: 1.4;
  justify-content: center;
}

header,
footer,
section {
  text-align: center;
}

table {
  text-align: left;
  width: 100%;
}

a {
  color: #333;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #333;
}

.code {
  font-family: Hack, monospace;
  padding: 1em;
  border-radius: 5px;
  background: #040119;
  color: #eefd2d;
}

label,
th {
  font-weight: bold;
  color: #ff0378;
}

.total {
  font-weight: bold;
}

hr {
  border-top: 1px solid #f0ebcd;
}

footer {
  margin: 0 0 20px;
}
