/*!
* File: FinickyHelper.css
* Description: Popup CSS. Redirects http(s):// to finicky(s):// for specific URLs
* Author: Alex Torma (https://github.com/torma616/)
* Date: July 24, 2024
* Copyright: ©2024 Alex Torma
* License: MIT
* Version: 1
*
*/
body {
  width: max-content;
  text-align: center;
  max-width: 700px;
  background-color: #aaa;
}

h3,
p {
  margin: 0;
}

#options-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%
}

#patterns-wrapper,
#prefixes-wrapper {
  width: 100%;
}

.patterns,
.browsers,
#prefixes {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.browsers {
  margin: 0.5rem 0 0 0;
  width: 100%;
}

[class*=-patterns] {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.patterns,
#prefixes {
  width: 98%;
  margin: 0.5rem 0 1rem 0;
}

.pattern,
.prefix {
  display: inline-flex;
  flex-direction: column;
}

.pattern {
  flex: 0 0 220px;
  /* Adjust as needed for minimum width */
}

.prefix {
  flex: 0 0 250px;
  /* Adjust as needed for minimum width */
}

.browsers .pattern {
  width: 100%;
  flex-grow: 1;
}