html {
  background-color: #fefefe;
}
body {
  font-family: Open Sans, Arial;
  color: #454545;
  font-size: 16px;
  margin: 2em auto;
  max-width: 800px;
  padding: 1em;
  line-height: 1.4;
  text-align: justify;
}
a {
  color: #07a;
}
a:visited {
  color: #941352;
}
section {
  margin-bottom: 1em;
}
